<mat-list>

    <div mat-subheader>Building</div>
    
    <a routerLink="/dashboard" mat-list-item class="nav-link">
        <mat-icon mat-list-icon color="accent" class="nav-link-icon">dashboard</mat-icon>
        <span class="nav-link-label">Dashboard</span>
    </a>

    <a routerLink="./master-utilities" mat-list-item class="nav-link">
        <mat-icon mat-list-icon color="accent" class="nav-link-icon">account_tree</mat-icon>
        <span class="nav-link-label">Master Utilities</span>
    </a>

    <mat-divider></mat-divider>

    <div mat-subheader>Apartment</div>
    <a routerLink="./apartments" mat-list-item class="nav-link">
        <mat-icon mat-list-icon color="accent" class="nav-link-icon">door_sliding</mat-icon>
        <span class="nav-link-label">Apartments</span>
    </a>

    <a routerLink="" mat-list-item class="nav-link">
    <mat-icon mat-list-icon color="accent" class="nav-link-icon">person_pin</mat-icon>
        <span class="nav-link-label">Assign Tenant</span>
    </a>

    <a routerLink="" mat-list-item class="nav-link">
        <mat-icon mat-list-icon color="accent" class="nav-link-icon">euro</mat-icon>
            <span class="nav-link-label">Register Payment</span>
        </a>

</mat-list>