<div class="container-fluid h-100">
  <div class="row h-100">

    <!-- Left side of screen / left column -->
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 left-column">
      <div class="inner-left h-100 d-flex justify-content-center align-items-center text-center">
        <div class>
          <a routerLink="">
            <mat-icon class="form-app-logo">domain</mat-icon>
            <h5 class="form-app-name">homeadmin.</h5>
            <p class="form-app-description">Housing Facility Management System</p>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 right-column">
      <div class="container-fluid inner-left h-100 d-flex flex-column justify-content-center align-items-center text-center">

        <div>
            <h1>Register new account.</h1>
            <small>or 
                <a routerLink="/login">Login</a> 
                of don't have an account yet.
              </small>
        </div>

        <div>
          <form class="row form">
            <mat-form-field>
              <input matInput placeholder="First Name" type="text">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Last Name" type="text">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Email" type="email">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Password" type="password">
            </mat-form-field>
          </form>
          <button mat-raised-button color="accent">Register</button>
        </div>

      </div>
    </div>
  </div>
</div>