<div class="container-fluid h-100">
  <div class="row h-100">

    <!-- Left side of screen / left column -->
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 left-column">
      <div class="inner-left h-100 d-flex justify-content-center align-items-center text-center">
        <div class>
          <a routerLink="">
            <mat-icon class="form-app-logo">domain</mat-icon>
            <h5 class="form-app-name">homeadmin.</h5>
            <p class="form-app-description">Housing Facility Management System</p>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 right-column">
      <div class="container-fluid inner-left h-100 d-flex flex-column justify-content-center align-items-center text-center">

        <div>
            <h1>Register new account.</h1>
            <small>or 
                <a routerLink="/login">Login</a> 
                of don't have an account yet.
              </small>
        </div>

        <div class="justify-content-center">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="row form">
            <mat-form-field>
              <input matInput formControlName="firstName" placeholder="First Name" type="text">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="lastName" placeholder="Last Name" type="text">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="email" placeholder="Email" type="email">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="username" placeholder="Username" type="text">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="phoneNumber" placeholder="Phone Number" type="number">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="password" placeholder="Password" type="password">
            </mat-form-field>

            <div class="justify-content-center">
              <button class="register-button submit-button" mat-raised-button color="accent" type="submit" [disabled]="!registerForm.valid">Register</button>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>